<section class="p-4 bg-white rounded shadow">
<form class="d-flex flex-column ">
    <h2 class="text-center text-capitalize">filter Employees</h2>
    <mat-form-field class="w-100 py-1" appearance="outline">
        <mat-label>name</mat-label>
        <input matInput placeholder="Ex. john wick" >
      </mat-form-field>

      <mat-form-field class="py-1">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

  
      <mat-form-field class="py-1">
        <mat-label>Department</mat-label>
        <mat-select>
        <mat-option *ngFor="let option of removeDuplicatesArrayDepartment ;let i = index" value="{{option.Department}}">
          {{option.Department}}
          </mat-option> 
          
        </mat-select>
      </mat-form-field>


      <mat-form-field class="w-100 py-1" appearance="outline">
        <mat-label>salary</mat-label>
        <input matInput placeholder="3000" type="number" >
      </mat-form-field>


      
      <mat-form-field class="py-1">
        <mat-label>Experience</mat-label>
        <mat-select>
        <mat-option *ngFor="let option of removeDuplicatesArrayExperience ;let i = index" value="{{option.Experience}}">
          {{option.Experience}}
          </mat-option> 
          
        </mat-select>
      </mat-form-field>
      <div class="d-flex justify-content-around align-items-center">
        <button mat-raised-button color="primary" (click)="submitForm()" >filter</button>
       
      
      </div>
</form>
</section>